.claude/*
.claude/settings.json
CLAUDE.md
src/
src/*
src/.env
src/_env
src/writable/*
src/public/frontend/dist/*
src/system/ThirdParty/Jugwoko.php
doc/zip/2022/*
doc/zip/2024/*
src/system/HotReloader/Puipuia.php
doc/sql/dunp/202606101032_dump.sql
doc/sql/dunp/202606101032_dump_insert.sql